/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Georgia', serif; /* Elegant font with a serif fallback */
    line-height: 1.6;
    background-color: #f5f5dc; /* Beige background */
}

/* Header Styling */
header {
    background: #f5f5dc; /* Light beige background */
    color: #8b4513; /* Dark brown color */
    padding: 1rem 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

/* Navigation Menu */
nav {
    background: #deb887; /* Cream color for the bar */
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    background: #f5f5dc; /* Light beige */
    color: #8b4513; /* Dark brown text */
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners for a softer look */
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
}

nav ul li a:hover {
    background: #deb887; /* Cream color on hover */
    color: white; /* White text on hover for contrast */
}

/* Hero Image/Video Section */
.hero-image img, .hero-image video {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer Styling */
footer {
    background: #8b4513; /* Dark brown */
    color: #f5f5dc; /* Light beige text */
    text-align: center;
    padding: 2rem 0;
}
.footer-icon i {
    font-size: 24px; /* Adjust icon size */
    color: #1DA1F2; /* Twitter brand color, adjust as needed */
    margin-right: 10px; /* Spacing between icons if you have more than one */
}
.footer-icon i {
    font-size: 24px; /* Adjust icon size */
    color: #000000; /* Adjust color as needed */
    margin-right: 10px; /* Spacing between icons */
}


/* Responsive Design for smaller screens */
@media screen and (max-width: 600px) {
    nav ul li a {
        padding: 0.3rem 0.6rem;
        margin: 0.3rem;
        font-size: 1em;
    }
}


.publications li {
    margin-bottom: 20px; /* Adjust the space as needed */
}




.blog-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Creates a line after each post */
}

.blog-post h3 {
    margin: 0;
}

.blog-date {
    font-style: italic;
    color: #666;
}

.blog-summary {
    margin-bottom: 10px;
}

.read-more {
    /* Style for 'Read More' link */
}


